.App {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.header-switch {
  display: flex;
  justify-content: right;
  align-items: center;
}

.dark-mode__toggle {
  background: rgb(143, 196, 0);
  border-radius: 50px;
  border: 2px solid black;
  height: 20px;
  position: relative;
  width: 40px;
}

.toggle {
  background: #7b25c2;
  border-radius: 50px;
  height: 18px;
  top: 1px;
  left: 2px;
  position: absolute;
  transition: 0.2s;
  width: 20px;
}

.toggled {
  left: 18px;
}

.dark-mode {
  color: #fff;
  background-color: #313843;
}

.people {
  border: 2px solid rgb(143, 196, 0);
  box-shadow: 3px 3px 5px black;
  margin: 8px;
  padding: 3px;
  text-align: left;
  width: 450px;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
}